<div class='container-fluid'>

  <h1 class='text-center'>SF Food Trucks</h1>
  
  <h3 class='test'></h3>

  <div id='map-container'>
    <div id='map'></div>
  </div>

  <%= render partial: 'truck_info' %>

  <%= render partial: 'radius_form', locals: {origin: @origin} %>
</div>