<div class='container-fluid'>
  <div id="truckModal" class="modal">
    <div class="modal-content">
      <span class="close">x</span>
      <p>Some text in the Modal..</p>
    </div>
  </div>
  
  <h1 class='text-center'>SF Food Trucks</h1>
  
  <h3 class='test'></h3>

  <div id='map-container'>
    <div id='map'></div>
  </div>

  <%= render partial: 'radius_form', locals: {origin: @origin} %>
</div>