// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  border: 1px solid #AAA;
  border-radius: 5px;
  margin: 20px 10%;
  box-shadow: 2px 2px #EEE;
}

#map {
  height: 400px;
  margin: 5px;
}

#truck-container {
  border: 1px solid #AAA;
  border-radius: 5px;
  margin: 20px 10%;
  box-shadow: 2px 2px #EEE;
}

#truck-info {
  margin: 5px;
}